<div *ngIf="settings; else elseProduct">
        <div class="card card-inverse card-primary">
            <div class="card-header">
                    <h3>Default</h3>
            </div>
    
            <div class="card-block">
                <div class="form-group">
                    <label for="defaultPrice">Default Price</label>
                    <input id="defaultPrice" class="form-control" [(ngModel)]="settings.defaultPrice">
                </div>
                <div class="form-group">
                    <label for="defaultUrl">Default URL</label>
                    <input id="defaultUrl" class="form-control" [(ngModel)]="settings.defaultUrl">
                </div>
            </div>
    
            <div class="card-footer">
                <button class="btn btn-primary" (click)="saveSettings()">Save</button>
                <button class="btn btn-primary" (click)="deleteSettings()">Delete</button>
                <button class="btn btn-default" type="reset">Cancel</button>
            </div>
        </div>
    </div>
    
    <ng-template #elseProduct>
        <h4>Oops Nothing Here</h4>
    </ng-template>